<a href="https://colab.research.google.com/github/bandarismr135-spec/firstproject/blob/main/python_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#write a program that asks the user to enter a traffic signal colour,
# based on the input display the appropriate action
colour = input("enter the traffic signal colour:")
if colour == "red":
    print("stop")
elif colour == "yellow":
    print("wait")
elif colour =="green":
    print("go")
else:
    print("invalid colour format")

enter the traffic signal colour:green
go

In [ ]:
#write a python program for a login system where
#the correct username is "admin" and password is "1234"

#if both are correct , print login successful
#otherwise print "invalid username or password"

username = input("enter the username:")
password = input("enter the password:")
if username == "admin" and password == "1234":
    print("login successful")

else:
    print("invalid username or password")

enter the username:admin
enter the password:1234
login successful

In [ ]:
#write a program that asks the use to enter the hour of the day(24 hour format, from 0 to 23)
#print the appropriate greeting based on that(Good morning, good after noon, good evening, good night or invalid hour)

hour = int(input("enter the hour of the day:"))
if hour >= 0 and hour < 12:
    print("good morning")
elif hour >= 12 and hour < 17:
    print("good afternoon")
elif hour >=17 and hour < 21:
    print("good evening")
elif hour >=21 and hour <=23:
    print("good night")
else:
    print("invalid hour")

enter the hour of the day:12
good afternoon

Nested If

In [ ]:
#write a python program for a login system where
#the correct username is "admin" and password is "1234"

#if both are correct , print login successful
#otherwise print "invalid username or password"


username = input("Enter the username: ")
password = input("Enter the password: ")

if username == "admin":
    if password == "1234":
        print("login successful")
    else:
        print("invalid password")
else:
    print("invalid username")

Enter the username: admin
Enter the password: 1234
login successful

In [ ]:
#check the eligibility to vote
# age >= 18, has_id

age = int(input("enter the age:"))
has_id = input("do you have an id (yes/no):")

if age >= 18:
    if has_id == "yes":
        print("you are eligible to vote")

    else:
        print("you do not have an id")
else:
    print("you are not eligible to vote")

enter the age:18
do you have an id (yes/no):yes
you are eligible to vote

In [ ]:
#eligibility to get a driving license

#age >= 18 and vision test passed

age = int(input("enter the age:"))
vision_test = input("did you pass the vision test (yes/no): ")
if age >= 18:
    if vision_test == "yes":
        print("you are eligible to get a driving license")
    else:
        print("you did not pass the vision test")
else:
    print("you are not eligible to get a driving license")

enter the age:33
did you pass the vision test (yes/no): yes
you are eligible to get a driving license

In [ ]:
#eligibility to get placement
#score >= 50 , attendance >= 80, project_presentation should be done

score = int(input("enter the score:"))
attendance = int(input("enter the attendance:"))
project_presentation = input("did you do the project presentation (yes/no):")

if score >= 50:
    if attendance >= 80:
        if project_presentation == "yes":
            print("you are eligible to get a placement")
        else:
            print("you did not do the project presentation")
    else:
        print("you do not have enough attendance")
else:
    print("you are not eligible to get a placement")

enter the score:50
enter the attendance:80
did you do the project presentation (yes/no):no
you did not do the project presentation

#Loops

In [ ]:
#for loop

for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,10): #(start,stop)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2): #(start,stop,step)
    print(i)

0
2
4
6
8

In [ ]:
#print all the mutiples of 12, till 120, use a for loop

for i in range(12,121,12):
    print(i)

12
24
36
48
60
72
84
96
108
120

In [ ]:
#print the square of each number from 1 to 10 #the square of 1 is 1

for x in range(1 , 11):
    print("the square of " ,x, "is" ,(x*x))

the square of  1 is 1
the square of  2 is 4
the square of  3 is 9
the square of  4 is 16
the square of  5 is 25
the square of  6 is 36
the square of  7 is 49
the square of  8 is 64
the square of  9 is 81
the square of  10 is 100

In [ ]:
name = "Abidunnisa"

for i in name:
    print(i)

A
b
i
d
u
n
n
i
s
a

In [ ]:
#print the even numbers from 1 to 100, without using range.

for i in range(2,101):
    if i % 2 == 0:
        print(i)

In [ ]:
#countdown of numbers 10 to 1,use for loop

for i in range(10,0,-1):
    print(i)

In [ ]:
#factorial
#find the factorial of 5 using a for loop = 120
#1*2*3*4*5

factorial = 1

for i in range(1,6):
    factorial *= i

print(factorial)

In [ ]:
#calculate the product of all even numbers upto 10
product = 1

for i in range(2,11,2):
    product *= i

print(product)

3840

#print the following pattern using for loop
*<br>
**<br>
***<br>
****<br>
*****<br>

In [ ]:
for i in range(1 , 6):
    print("*" * i)

*
**
***
****
*****

In [ ]:
#break the loop

for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [ ]:
#continue -- skipping a value

for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
#WHile Loops
#print all the even numbers below 20 , use a while loop

a = 0

while a <= 20:
    print(a)
    a+=5

0
5
10
15
20

In [ ]:
#use a while loop print numbers less than 5
a = 1
while a < 5:
    print(a)
    a+=1

1
2
3
4

In [ ]:
count = 1

while count <= 5:
    if count == 3:
        break
    print(count)
    count += 1

1
2

In [ ]:
count = 1

while count <= 5:
    if count == 3:
        count += 1
        continue
    print(count)
    count += 1

1
2
4
5

In [ ]:
correct_username = "Abid"
correct_password = "1234"

#take a user input and print login successful, if both the credentials given above are entered, else print invalid name or password
#but the user has only 3 attempts

attempts = 1

while attempts <= 3:
    username = input("enter the username:")
    password = input("enter the password:")
    if username == correct_username and password == correct_password:
        print("login successful")
        break;

    else:
        print("invalid username or password")
        attempts += 1
        if attempts ==3:
            print("you have reached the maximum number of attempts")

enter the username:Abid
enter the password:1234
login successful

create a number guessing game. The program should repeatedly ask the user to guess until they get it right. if the user gets it correct then print congratulations, if not print try again. Give the user only 3 attempts to guess.

In [ ]:
number = 6
attempts=3
while attempts>0:
 guess=5
 if guess==number:
  print("congratulations")
  break
 else:
    print("try again")
    attempts-=1
    print("you have",attempts,"attempts left")

try again
you have 2 attempts left
try again
you have 1 attempts left
try again
you have 0 attempts left

In [ ]:
#fibonacci sequence

#0,1,1,2,3,5,8,13,21,34

#write a python program to print the first 10 numbers in the fibonacci sequence

In [ ]:
for i in range(1, 3):
    print("Hi")

Hi
Hi

In [ ]:
for i in range(5):
    if i == 3:
        print("Three")

Three